.text_compete {
    font-family: "Microsoft Yahei";
    font-weight: 400;
    font-size: 1.2em;
}


.avatar_img_competition{
    height:70px;
    width: 70px;
    margin-top:5px;
}

.btn-flat{
    padding-left:10px;
    padding-right:10px;
    color: #ffab40
}

.modal{
    width: 30%;
}

.wider{
    width: 60%;
}


.text_stride{
    font-size: 1.5em;
    font-weight: 400;
    color: darkorange;
}

.text_rank{
     font-size: 1.5em;
     font-weight: 400;
     color: darkorange;
 }

.text_red_team{
    font-size: 1.5em;
    font-weight: 400;
    color: grey;
    opacity: 0.7;
}

.text_blue_team{
    font-size: 1.5em;
    font-weight: 400;
    color: grey;
    opacity: 0.7;
}


.text_create{
    font-size: 1.5em;
    font-weight: 400;
    color: grey;
    opacity: 1;
}

.btn{
    padding-left:20px ;
    padding-right:20px ;
}