.avatar_img_create {
    height:80px;
    width: 80px;
}

.avatar_img_moment{
    height:70px;
    width: 70px;
    margin:5px;
}


.text_avatar{
    font-size: 1em;
    font-weight:300

}

.btn-flat{
    padding:5px;
}


button.btn-flat{
    padding-top: 0px;
    padding-bottom: 5px;
}

i.material-icons{
    font-size: 1.5em;
}

.text_vote{
    font-size: 1.5em;
}