.avatar_img_create {
    height:100px;
    width: 100px;
}

.avatar_img_moment{
    height:80px;
    width: 80px;
    margin:5px;
}


.text_avatar{
    font-size: 1em;
    font-weight:300

}

.modal{

    max-height: 40%;
    width: 30%;
}

.btn-flat{

    padding:5px;
}


i.material-icons{
    font-size: 2em;
}

.text_vote{
    font-size: 2em;
}