.avatar_img_create {
    height:80px;
    width: 80px;
}

.avatar_img_moment{
    height:70px;
    width: 70px;
    margin:5px;
}


.text_post_date{

    font-size: 1.2em;
}

.modal{

    max-height: 40%;
    width: 30%;
}